
fpga/db/

fpga/incremental_db/

*.qws

fpga/c5_pin_model_dump.txt

fpga/hps_isw_handoff/soc_system_hps_0/id

fpga/soc_system.cdf

fpga/soc_system.done

fpga/soc_system.fit.rpt

fpga/soc_system.fit.smsg

fpga/soc_system.fit.summary

fpga/soc_system.flow.rpt

fpga/soc_system.jdi

fpga/soc_system.map.rpt

fpga/hps_sdram_p0_summary.csv

*.rpt

*.smsg

*.summary

*.pin

*.sld
